In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from keras import Sequential
from keras.layers import Dense

In [2]:
# read the dataset
data = pd.read_csv('Data_Sets/mammographic_masses.data')
data.head(10)

   5  67  3 5.1 3.1  1
0  4  43  1   1   ?  1
1  5  58  4   5   3  1
2  4  28  1   1   3  0
3  5  74  1   5   ?  1
4  4  65  1   ?   3  0
5  4  70  ?   ?   3  0
6  5  42  1   ?   3  0
7  5  57  1   5   3  1
8  5  60  ?   5   1  1
9  5  76  1   4   3  1

In [3]:
# change the column names
data = pd.DataFrame(data)
data.columns = ['BI_RADS','age','shape','margin','density','severity']
data.head()

  BI_RADS age shape margin density  severity
0       4  43     1      1       ?         1
1       5  58     4      5       3         1
2       4  28     1      1       3         0
3       5  74     1      5       ?         1
4       4  65     1      ?       3         0

In [4]:
# replace all question marks with NaN
data = data.replace('?',np.nan)
data.head()

  BI_RADS age shape margin density  severity
0       4  43     1      1     NaN         1
1       5  58     4      5       3         1
2       4  28     1      1       3         0
3       5  74     1      5     NaN         1
4       4  65     1    NaN       3         0

In [5]:
# checking the null values in each column
data = data.astype(float)
data.isnull().sum()

BI_RADS      2
age          5
shape       31
margin      48
density     76
severity     0
dtype: int64

In [6]:
# replacing the null values with mean of columns
data = data.apply(lambda x: x.fillna(x.mean()),axis=0)
data = data.astype(int)
data.head(10)

   BI_RADS  age  shape  margin  density  severity
0        4   43      1       1        2         1
1        5   58      4       5        3         1
2        4   28      1       1        3         0
3        5   74      1       5        2         1
4        4   65      1       2        3         0
5        4   70      2       2        3         0
6        5   42      1       2        3         0
7        5   57      1       5        3         1
8        5   60      2       5        1         1
9        5   76      1       4        3         1

In [7]:
data.isnull().sum()

BI_RADS     0
age         0
shape       0
margin      0
density     0
severity    0
dtype: int64

In [8]:
# dropping the BI_RADS column
data.drop('BI_RADS',axis=1,inplace=True)
data.head(10)

   age  shape  margin  density  severity
0   43      1       1        2         1
1   58      4       5        3         1
2   28      1       1        3         0
3   74      1       5        2         1
4   65      1       2        3         0
5   70      2       2        3         0
6   42      1       2        3         0
7   57      1       5        3         1
8   60      2       5        1         1
9   76      1       4        3         1

In [9]:
# encoding the categorical variable
shape = pd.get_dummies(data['shape'],drop_first=True)
shape.head(10)

   2  3  4
0  0  0  0
1  0  0  1
2  0  0  0
3  0  0  0
4  0  0  0
5  1  0  0
6  0  0  0
7  0  0  0
8  1  0  0
9  0  0  0

In [10]:
# encoding the categorical variable
margin = pd.get_dummies(data['margin'],drop_first=True)
margin.head(10)

   2  3  4  5
0  0  0  0  0
1  0  0  0  1
2  0  0  0  0
3  0  0  0  1
4  1  0  0  0
5  1  0  0  0
6  1  0  0  0
7  0  0  0  1
8  0  0  0  1
9  0  0  1  0

In [11]:
# encoding the categorical variable
density = pd.get_dummies(data['density'],drop_first=True)
density.head(10)

   2  3  4
0  1  0  0
1  0  1  0
2  0  1  0
3  1  0  0
4  0  1  0
5  0  1  0
6  0  1  0
7  0  1  0
8  0  0  0
9  0  1  0

In [12]:
# dropping the categorical columns
data.drop(['shape','margin','density'],axis=1,inplace=True)
data.head(10)

   age  severity
0   43         1
1   58         1
2   28         0
3   74         1
4   65         0
5   70         0
6   42         0
7   57         1
8   60         1
9   76         1

In [13]:
# concatenating the dummy
data = pd.concat([data,shape,margin,density],axis=1)
data.head(10)

   age  severity  2  3  4  2  3  4  5  2  3  4
0   43         1  0  0  0  0  0  0  0  1  0  0
1   58         1  0  0  1  0  0  0  1  0  1  0
2   28         0  0  0  0  0  0  0  0  0  1  0
3   74         1  0  0  0  0  0  0  1  1  0  0
4   65         0  0  0  0  1  0  0  0  0  1  0
5   70         0  1  0  0  1  0  0  0  0  1  0
6   42         0  0  0  0  1  0  0  0  0  1  0
7   57         1  0  0  0  0  0  0  1  0  1  0
8   60         1  1  0  0  0  0  0  1  0  0  0
9   76         1  0  0  0  0  0  1  0  0  1  0

In [14]:
# splitting the independent and dependent variables
x = data.drop('severity',axis=1)
y = data['severity']

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/31,random_state=0)

In [16]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [17]:
# applying the logistic regression
model = LogisticRegression()
model.fit(x_train,y_train)
predict = model.predict(x_test)
accuracy_score(y_test,predict)*100

83.87096774193549

In [18]:
# applying the knn
model = KNeighborsClassifier(n_neighbors=5,p=2,metric='minkowski')
model.fit(x_train,y_train)
predict = model.predict(x_test)
accuracy_score(y_test,predict)*100

87.09677419354838

In [19]:
# applying the svm
model = SVC(kernel='linear')
model.fit(x_train,y_train)
predict = model.predict(x_test)
accuracy_score(y_test,predict)*100

87.09677419354838

In [20]:
# applying the decision tree
model = DecisionTreeClassifier(criterion='entropy',random_state=0)
model.fit(x_train,y_train)
predict = model.predict(x_test)
accuracy_score(y_test,predict)*100

77.41935483870968

In [21]:
# applying the random forest
model = RandomForestClassifier(n_estimators=100,criterion="entropy")
model.fit(x_train,y_train)
predict = model.predict(x_test)
accuracy_score(y_test,predict)*100

83.87096774193549

In [22]:
# applying the Naives Bayes
model = GaussianNB()
model.fit(x_train,y_train)
predict = model.predict(x_test)
accuracy_score(y_test,predict)*100

77.41935483870968

In [23]:
# applying neural networks
model = Sequential()
model.add(Dense(6,activation='relu',kernel_initializer='uniform',input_dim=11))
model.add(Dense(6,kernel_initializer='uniform',activation='relu'))
model.add(Dense(1,activation='sigmoid',kernel_initializer='uniform'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
model.fit(x_train,y_train,batch_size=1,epochs=100,validation_data=(x_test,y_test))

Epoch 1/100
929/929 [==============================] - 3s 4ms/step - loss: 0.5661 - accuracy: 0.7298 - val_loss: 0.3702 - val_accuracy: 0.8387
Epoch 2/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4574 - accuracy: 0.8095 - val_loss: 0.3520 - val_accuracy: 0.8387
Epoch 3/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4509 - accuracy: 0.8062 - val_loss: 0.3516 - val_accuracy: 0.8387
Epoch 4/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4498 - accuracy: 0.8127 - val_loss: 0.3459 - val_accuracy: 0.8710
Epoch 5/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4477 - accuracy: 0.8127 - val_loss: 0.3435 - val_accuracy: 0.8710
Epoch 6/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4457 - accuracy: 0.8095 - val_loss: 0.3509 - val_accuracy: 0.8710
Epoch 7/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4458 - accuracy: 0.8159 - val_loss: 0.3526 - val_accuracy: 0.8387
Epoch 8/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4437 - accuracy: 0.8084 - val_loss: 0.3448 - val_accuracy: 0.8387
Epoch 9/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4456 - accuracy: 0.8116 - val_loss: 0.3486 - val_accuracy: 0.8387
Epoch 10/100
929/929 [==============================] - 4s 4ms/step - loss: 0.4456 - accuracy: 0.8105 - val_loss: 0.3567 - val_accuracy: 0.8387
Epoch 11/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4446 - accuracy: 0.8127 - val_loss: 0.3538 - val_accuracy: 0.8387
Epoch 12/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4431 - accuracy: 0.8127 - val_loss: 0.3416 - val_accuracy: 0.8387
Epoch 13/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4449 - accuracy: 0.8138 - val_loss: 0.3452 - val_accuracy: 0.8387
Epoch 14/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4434 - accuracy: 0.8095 - val_loss: 0.3491 - val_accuracy: 0.8387
Epoch 15/100
929/929 [==============================] - 4s 4ms/step - loss: 0.4431 - accuracy: 0.8127 - val_loss: 0.3405 - val_accuracy: 0.8387
Epoch 16/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4420 - accuracy: 0.8127 - val_loss: 0.3448 - val_accuracy: 0.8387
Epoch 17/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4433 - accuracy: 0.8127 - val_loss: 0.3429 - val_accuracy: 0.8387
Epoch 18/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4412 - accuracy: 0.8181 - val_loss: 0.3362 - val_accuracy: 0.8387
Epoch 19/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4428 - accuracy: 0.8052 - val_loss: 0.3445 - val_accuracy: 0.8387
Epoch 20/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4402 - accuracy: 0.8062 - val_loss: 0.3602 - val_accuracy: 0.8710
Epoch 21/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4417 - accuracy: 0.8095 - val_loss: 0.3480 - val_accuracy: 0.8710
Epoch 22/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4417 - accuracy: 0.8159 - val_loss: 0.3434 - val_accuracy: 0.8387
Epoch 23/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4418 - accuracy: 0.8149 - val_loss: 0.3456 - val_accuracy: 0.8387
Epoch 24/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4412 - accuracy: 0.8138 - val_loss: 0.3326 - val_accuracy: 0.8387
Epoch 25/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4405 - accuracy: 0.8116 - val_loss: 0.3395 - val_accuracy: 0.8387
Epoch 26/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4418 - accuracy: 0.8105 - val_loss: 0.3436 - val_accuracy: 0.8387
Epoch 27/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4411 - accuracy: 0.8105 - val_loss: 0.3531 - val_accuracy: 0.8387
Epoch 28/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4403 - accuracy: 0.8105 - val_loss: 0.3418 - val_accuracy: 0.8387
Epoch 29/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4402 - accuracy: 0.8138 - val_loss: 0.3481 - val_accuracy: 0.8710
Epoch 30/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4391 - accuracy: 0.8138 - val_loss: 0.3381 - val_accuracy: 0.8387
Epoch 31/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4396 - accuracy: 0.8073 - val_loss: 0.3357 - val_accuracy: 0.8387
Epoch 32/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4393 - accuracy: 0.8105 - val_loss: 0.3475 - val_accuracy: 0.8387
Epoch 33/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4381 - accuracy: 0.8159 - val_loss: 0.3583 - val_accuracy: 0.8387
Epoch 34/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4386 - accuracy: 0.8192 - val_loss: 0.3481 - val_accuracy: 0.8710
Epoch 35/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4390 - accuracy: 0.8181 - val_loss: 0.3437 - val_accuracy: 0.8387
Epoch 36/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4388 - accuracy: 0.8127 - val_loss: 0.3483 - val_accuracy: 0.8387
Epoch 37/100
929/929 [==============================] - 2s 3ms/step - loss: 0.4368 - accuracy: 0.8127 - val_loss: 0.3362 - val_accuracy: 0.8387
Epoch 38/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4359 - accuracy: 0.8159 - val_loss: 0.3594 - val_accuracy: 0.8387
Epoch 39/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4369 - accuracy: 0.8138 - val_loss: 0.3489 - val_accuracy: 0.8387
Epoch 40/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4375 - accuracy: 0.8170 - val_loss: 0.3439 - val_accuracy: 0.8387
Epoch 41/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4383 - accuracy: 0.8159 - val_loss: 0.3439 - val_accuracy: 0.8387
Epoch 42/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4372 - accuracy: 0.8149 - val_loss: 0.3527 - val_accuracy: 0.8710
Epoch 43/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4380 - accuracy: 0.8116 - val_loss: 0.3476 - val_accuracy: 0.8710
Epoch 44/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4363 - accuracy: 0.8170 - val_loss: 0.3306 - val_accuracy: 0.8387
Epoch 45/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4366 - accuracy: 0.8149 - val_loss: 0.3557 - val_accuracy: 0.8710
Epoch 46/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4369 - accuracy: 0.8116 - val_loss: 0.3508 - val_accuracy: 0.8387
Epoch 47/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4365 - accuracy: 0.8159 - val_loss: 0.3425 - val_accuracy: 0.8387
Epoch 48/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4358 - accuracy: 0.8149 - val_loss: 0.3406 - val_accuracy: 0.8710
Epoch 49/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4360 - accuracy: 0.8159 - val_loss: 0.3405 - val_accuracy: 0.8710
Epoch 50/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4363 - accuracy: 0.8127 - val_loss: 0.3462 - val_accuracy: 0.8710
Epoch 51/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4351 - accuracy: 0.8170 - val_loss: 0.3346 - val_accuracy: 0.8710
Epoch 52/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4353 - accuracy: 0.8159 - val_loss: 0.3312 - val_accuracy: 0.8387
Epoch 53/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4365 - accuracy: 0.8159 - val_loss: 0.3421 - val_accuracy: 0.8710
Epoch 54/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4358 - accuracy: 0.8181 - val_loss: 0.3396 - val_accuracy: 0.8710
Epoch 55/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4344 - accuracy: 0.8095 - val_loss: 0.3319 - val_accuracy: 0.8387
Epoch 56/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4355 - accuracy: 0.8116 - val_loss: 0.3296 - val_accuracy: 0.8710
Epoch 57/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4358 - accuracy: 0.8192 - val_loss: 0.3353 - val_accuracy: 0.8710
Epoch 58/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4345 - accuracy: 0.8149 - val_loss: 0.3445 - val_accuracy: 0.8710
Epoch 59/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4334 - accuracy: 0.8192 - val_loss: 0.3266 - val_accuracy: 0.8387
Epoch 60/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4352 - accuracy: 0.8192 - val_loss: 0.3378 - val_accuracy: 0.8710
Epoch 61/100
929/929 [==============================] - 2s 2ms/step - loss: 0.4347 - accuracy: 0.8159 - val_loss: 0.3371 - val_accuracy: 0.8710
Epoch 62/100
929/929 [==============================] - 2s 3ms/step - loss: 0.4336 - accuracy: 0.8170 - val_loss: 0.3350 - val_accuracy: 0.8710
Epoch 63/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4347 - accuracy: 0.8170 - val_loss: 0.3391 - val_accuracy: 0.8710
Epoch 64/100
929/929 [==============================] - 4s 4ms/step - loss: 0.4340 - accuracy: 0.8127 - val_loss: 0.3479 - val_accuracy: 0.8710
Epoch 65/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4340 - accuracy: 0.8149 - val_loss: 0.3318 - val_accuracy: 0.8710
Epoch 66/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4341 - accuracy: 0.8127 - val_loss: 0.3355 - val_accuracy: 0.8710
Epoch 67/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4331 - accuracy: 0.8192 - val_loss: 0.3218 - val_accuracy: 0.8710
Epoch 68/100
929/929 [==============================] - 4s 4ms/step - loss: 0.4339 - accuracy: 0.8170 - val_loss: 0.3321 - val_accuracy: 0.8710
Epoch 69/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4332 - accuracy: 0.8138 - val_loss: 0.3324 - val_accuracy: 0.8710
Epoch 70/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4314 - accuracy: 0.8159 - val_loss: 0.3514 - val_accuracy: 0.8710
Epoch 71/100
929/929 [==============================] - 4s 4ms/step - loss: 0.4340 - accuracy: 0.8159 - val_loss: 0.3312 - val_accuracy: 0.8710
Epoch 72/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4332 - accuracy: 0.8149 - val_loss: 0.3335 - val_accuracy: 0.8710
Epoch 73/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4337 - accuracy: 0.8138 - val_loss: 0.3309 - val_accuracy: 0.8710
Epoch 74/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4298 - accuracy: 0.8159 - val_loss: 0.3228 - val_accuracy: 0.8387
Epoch 75/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4326 - accuracy: 0.8202 - val_loss: 0.3361 - val_accuracy: 0.8710
Epoch 76/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4323 - accuracy: 0.8192 - val_loss: 0.3313 - val_accuracy: 0.8710
Epoch 77/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4311 - accuracy: 0.8192 - val_loss: 0.3369 - val_accuracy: 0.8710
Epoch 78/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4332 - accuracy: 0.8149 - val_loss: 0.3229 - val_accuracy: 0.8710
Epoch 79/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4333 - accuracy: 0.8159 - val_loss: 0.3312 - val_accuracy: 0.8710
Epoch 80/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4328 - accuracy: 0.8181 - val_loss: 0.3264 - val_accuracy: 0.8710
Epoch 81/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4325 - accuracy: 0.8127 - val_loss: 0.3295 - val_accuracy: 0.8710
Epoch 82/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4313 - accuracy: 0.8202 - val_loss: 0.3218 - val_accuracy: 0.8710
Epoch 83/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4312 - accuracy: 0.8192 - val_loss: 0.3229 - val_accuracy: 0.8710
Epoch 84/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4306 - accuracy: 0.8149 - val_loss: 0.3172 - val_accuracy: 0.8710
Epoch 85/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4323 - accuracy: 0.8170 - val_loss: 0.3241 - val_accuracy: 0.8710
Epoch 86/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4316 - accuracy: 0.8159 - val_loss: 0.3303 - val_accuracy: 0.8710
Epoch 87/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4318 - accuracy: 0.8213 - val_loss: 0.3430 - val_accuracy: 0.8710
Epoch 88/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4318 - accuracy: 0.8192 - val_loss: 0.3320 - val_accuracy: 0.8710
Epoch 89/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4305 - accuracy: 0.8224 - val_loss: 0.3356 - val_accuracy: 0.8710
Epoch 90/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4303 - accuracy: 0.8192 - val_loss: 0.3372 - val_accuracy: 0.8710
Epoch 91/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4306 - accuracy: 0.8170 - val_loss: 0.3361 - val_accuracy: 0.8710
Epoch 92/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4313 - accuracy: 0.8116 - val_loss: 0.3252 - val_accuracy: 0.8710
Epoch 93/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4318 - accuracy: 0.8202 - val_loss: 0.3324 - val_accuracy: 0.8710
Epoch 94/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4314 - accuracy: 0.8213 - val_loss: 0.3420 - val_accuracy: 0.8710
Epoch 95/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4309 - accuracy: 0.8159 - val_loss: 0.3347 - val_accuracy: 0.8710
Epoch 96/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4297 - accuracy: 0.8202 - val_loss: 0.3293 - val_accuracy: 0.8710
Epoch 97/100
929/929 [==============================] - 4s 4ms/step - loss: 0.4301 - accuracy: 0.8192 - val_loss: 0.3374 - val_accuracy: 0.8710
Epoch 98/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4299 - accuracy: 0.8138 - val_loss: 0.3327 - val_accuracy: 0.8710
Epoch 99/100
929/929 [==============================] - 3s 3ms/step - loss: 0.4303 - accuracy: 0.8202 - val_loss: 0.3280 - val_accuracy: 0.8710
Epoch 100/100
929/929 [==============================] - 3s 4ms/step - loss: 0.4302 - accuracy: 0.8192 - val_loss: 0.3402 - val_accuracy: 0.8710

In [24]:
y_pred = model.predict(x_test)
y_pred = y_pred > 0.5
accuracy_score(y_pred,y_test)*100

87.09677419354838